:root {
    --background: #f6f6f6;
    --font: #222;
    --border: #333;
    --screen: #eee;
    --calculator: #aaa;
    --btn: #eee;
    --btn-hover: #ddd;
    --btn-active: #ccc;
    --btn-red: #faa;
    --btn-red-hover: #e99;
    --btn-red-active: #d88;
    --btn-blue: #aaf;
    --btn-blue-hover: #99e;
    --btn-blue-active: #88d;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  

  
  body {
    background-color: var(--background);
    color: var(--font);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    /* footer support */
    margin-bottom: 100px;
  }
  
  button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  }
  
  /* MAIN */
  
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
  }
  
  .calculator {
    width: 400px;
    border: 2px var(--border) solid;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--calculator);
  }
  
  .output {
    padding: 10px 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--screen);
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .previousNumb {
    min-height: 32px;
    font-size: 20px;
  }
  
  .currentNumb {
    min-height: 64px;
    font-size: 40px;
  }
  
  .buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .clear, .delete {
    grid-column: span 2;
  }
  
  .number, .operator, .decimal, .equal {
    padding: 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    background-color: var(--btn);
    font-size: 20px;
  }
  
  .number:hover, .operator:hover, .decimal:hover, .equal:hover   {
    background-color: var(--btn-hover);
  }
  
  .number:active, .operator:active, .decimal:active {
    background-color: var(--btn-active);
  }
 
  .clear {
    background-color: var(--btn-red);
    border: 2px var(--border) solid;
    font-weight: 900;
    font-size:large;
  }
  
  .clear:hover {
    background-color: var(--btn-red-hover);
  }
  
  .clear:active {
    background-color: var(--btn-red-active);
  }
  
  .delete {
    background-color: var(--btn-blue);
    border: 2px var(--border) solid;
    font-size:x-large;
    font-weight: 900;
  }
  
  .delete:hover {
    background-color: var(--btn-blue-hover);
  }
  
  .delete:active {
    background-color: var(--btn-blue-active);
  }
  
